.refund-page {
    padding: 50px;
    margin-top: 250px;
  }
  
  /* .history-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
  } */ 
  

  .refund-list {
    display: flex; /* Cho phép các thẻ con sắp xếp ngang */
    flex-wrap: wrap; /* Cho phép thẻ xuống dòng nếu không đủ khoảng trống chiều ngang*/
    gap: 20px;
    flex-direction: column;
    align-content: center;
  }
  
  .refund-product-info{
    display: flex;  /* Sắp xếp nội dung trong thẻ 'box' theo chiều ngang */
    align-items: center; /* Căn giữa các thẻ con theo chiều dọc */
    padding: 15px;
    
    /* width: calc(15% - 30px); Giả định mỗi thẻ chiếm khoảng 25% chiều ngang */
    
  }
  .refund-product-infos1 {
    display: flex;  /* Sắp xếp nội dung trong thẻ 'box' theo chiều ngang */
    align-items: center; /* Căn giữa các thẻ con theo chiều dọc */
    border: 1px solid #ccc; /* Thêm viền */
  border-radius: 10px;
height: 50px;
justify-content: center;
    
  }

  .refund-name, .refund-time, .refund-status, .refund-titleR{
    margin-left: 80px;
    margin-right: 80px;
    width: max-content;
  }
  .refund-NameAtwork, .refund-TimeApprove, .refund-StatusApprove{
    margin-left: 80px;
    margin-right: 80px;
    width: max-content;
  }
  .refund-Actor{
    margin-left: 80px;
    margin-right: 80px;
    width: max-content; 
  }
  .refund-StatusApprove{
    width: fit-content;
  }
  .refund-history-list {
    display: flex; /* Cho phép các thẻ con sắp xếp ngang */
    flex-wrap: wrap; /* Cho phép thẻ xuống dòng nếu không đủ khoảng trống chiều ngang*/
    gap: 20px;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .refund-boxR{
    display: flex;  /* Sắp xếp nội dung trong thẻ 'box' theo chiều ngang */
    align-items: center; /* Căn giữa các thẻ con theo chiều dọc */
    border: 1px solid #ccc; /* Thêm viền */
    border-radius: 5px;
    padding: 15px;
    width: calc(15% - 30px); /* Giả định mỗi thẻ chiếm khoảng 25% chiều ngang */
    
  }
  
  .refund-name, .refund-time, .refund-status, .refund-itleR, .refund-NameAtwork, .refund-Actor, .refund-TimeApprove, .refund-StatusApprove{
    margin-left: 80px;
    margin-right: 80px;
    width: max-content;
  }
  .refund-Atwork{
    margin-left: 80px;
    margin-right: 100px;
    width: max-content;
  }
  .refund-action{
    margin-left: 45px;
    margin-right: 60px;
    width: 35px;
  }