.send-page {
  padding: 50px;
  margin-top: 135px;
}

/* .history-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
} */ 
h1 {
  padding-bottom: 35px;
  margin-top: 10px;
}

.send-list {
  display: flex; /* Cho phép các thẻ con sắp xếp ngang */
  flex-wrap: wrap; /* Cho phép thẻ xuống dòng nếu không đủ khoảng trống chiều ngang*/
  gap: 20px;
  flex-direction: column;
  align-content: center;
}

.send-product-info{
  display: flex;  /* Sắp xếp nội dung trong thẻ 'box' theo chiều ngang */
  align-items: center; /* Căn giữa các thẻ con theo chiều dọc */
  height: 50px;
  margin-top: 7px;
  justify-content: center;
  
}
.send-product-infos1 {
  display: flex;  /* Sắp xếp nội dung trong thẻ 'box' theo chiều ngang */
  align-items: center; /* Căn giữa các thẻ con theo chiều dọc */
  border: 1px solid #ccc; /* Thêm viền */
  border-radius: 5px;
  height: 50px;
  margin-top: 7px;
  justify-content: center;
  
}
.send-name, .send-time, .send-status, .send-titleR{
  margin-left: 80px;
  margin-right: 80px;
  width: max-content;
}
.send-NameAtwork, .send-TimeApprove, .send-StatusApprove{
  margin-left: 80px;
  margin-right: 80px;
  width: max-content;
}
.send-Actor{
  margin-left: 80px;
  margin-right: 80px;
  width: max-content; 
}