.cart-page {
  max-width: 97%;
  margin: 50px 100px;
  padding: 20px;
  border: 3px solid #ccc;
}

.cart-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.empty-cart-message {
  font-size: 16px;
  color: #666;
}


.cart-items {
  /* max-height: 200px; */
  overflow-y: auto; /* Tạo thanh cuộn dọc khi nội dung vượt quá kích thước */
  
}

.cart-items::-webkit-scrollbar {
  width: 8px; /* Độ rộng của thanh cuộn */
  background-color: #fff; /* Màu nền cho thanh cuộn */
}

.cart-items::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Màu của phần thanh cuộn */
  border-radius: 4px; /* Độ cong của phần thanh cuộn */
}


.cart-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc; /* Đường viền dưới cho mỗi mục */
}

.cart-product-info {
  display: flex;
  align-items: center;
}

.cart-product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 5px;
}

.cart-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-product-title {
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
  width: 110px;
}
.cart-product-author{
  color: black;
  font-size: 18px;
  
  margin-bottom: 5px;
}

.cart-product-price {
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
}
.cart-product-quantity{
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
}

.remove-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 20px;
  
}

.remove-button:hover {
  background-color: #d32f2f;
}
.cart-product-infos1 {
  display: flex;  /* Sắp xếp nội dung trong thẻ 'box' theo chiều ngang */
  align-items: center; /* Căn giữa các thẻ con theo chiều dọc */
  border: 1px solid #ccc; /* Thêm viền */
border-radius: 10px;
height: 50px;
justify-content: space-between;
margin-bottom: 30px;
  
}
.cart-Atwork{
  margin-left: 20px;
  margin-right: 110px;
}
.cart-StatusApprove{
  margin-right: 20px;
}
.cart-img-titl{
  display: flex;
  align-items: center;
}
.cart-blog-button-cancle{
  /* display: inline-block;
  text-decoration: none; */
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
}
.cart-blog-button-cancle:hover{
  background-color: rgb(255, 254, 254);
  color: rgb(0, 0, 0);
}
.button-payment-cart{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  
}
.cart-total-pay{
  color: rgb(0, 0, 0);
  margin-right: 10px;
  margin-top: 15px;
}