/* DetailsPage.css */

.container {
  font-family: Arial, sans-serif;
}
.container-custom{
  margin-top: -50px;
}
.product {
  margin-top: 2em;
}

.product img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.product-content {
  margin-top: 1em;
}

.product-content p {
  margin-bottom: 1em;
}

.product-content .lead {
  font-size: 1.2em;
}

.product-content h2 {
  margin-top: 0.5em;
}

.button-heart button {
  margin-top: 1em;
}

.fa-regular {
  display: flex;
  margin-right: 1em;
}

.line {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 680px;
  height: 2px;
  background-color: #000;
}

.fa-icon {
  display: flex;
  gap: 20px;
  padding-left: 12.7rem;
  margin-top: 20px;
}

.mt-3 {
  justify-content: center;
  padding-bottom: 50px;
  font-size: 1.5em;
}

.comment {
  text-align: left;
  padding-left: 250px;
  margin-top: -15px;
}
.comment-list {
  display: grid;
  gap: 60px;
  margin: 10px;
}
.comment-input-container {
  margin-left: 200px;
  margin-right: 200px;
}

.comment-input {
  background-color: white;
  color: black;
}

.reply-text-box {
  margin-right: 200px;
}

.row-detail {
  display: flex;
  width: 90%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  background-color: rgb(232, 232, 232);
  box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.3);
}