/* src/components/Cpage.css */

/* Grid container for the body */
.insight-image-collection {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #efefef;
  border-radius: 5px;
}

/* Grid container for the images */
.insight-order-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 82px;
  align-items: start;
}

/* Individual box styling */
/* .image-collection {
  border-radius: 10px;
  box-sizing: border-box;
  height: max-content;
} */

/* Styling for the image container within each box */
.insight-image-collection .image-container {
  flex: 1;
  overflow: hidden;
  border-radius: 10px;
}

/* Styling for the images within the image container */
.insight-order-overlay img {
  display: block;
  max-width: 100%;
  height: 500px;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

/* Styling for the insight-order-overlay on hover */
/* .insight-order-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: background-color 0.3s ease; /* Smooth transition for the insight-order-overlay */
/* } */ */

/* Styling for insight-order-details section within each box */
.insight-image-collection .insight-order-details {
  margin-top: 20px;
}

/* Zoom effect for the image on hover */
.insight-image-collection .box:hover img {
  transform: scale(1.05);
}

.insight-order-details .insight-order-authors {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.insight-order-details{
  text-align: left;
  padding: 10px;
  margin-top: -30px;
}  
.insight-image-collection .insight-order-overlay img.processing-false {
filter: brightness(10%);
}
.insight-order-overlay .waiting-text {
position: relative;
bottom: 70px;
left: 50%;
transform: translate(-50%, -50%);
/* bottom: 150px; */
color: rgb(255, 255, 255);
font-size: 20px;
}
.insight-order-titles {
padding-bottom: 10px;
}

/* .refund-button {
padding: 15px;
padding-left: 266px;
} */
.refund-button{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 185px;
}
.refund-button:hover{
  background-color: rgb(255, 254, 254);
  color: rgb(0, 0, 0);
}
.refund-button1{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  
}
.refund-button2{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 185px;
}
.refund-button1:hover , .refund-button2:hover{
  background-color: rgb(255, 254, 254);
  color: rgb(0, 0, 0);
}
.refund-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền đen với độ mờ 50% */
  display: flex;
  justify-content: center;
  align-items: center;
}

.refund-confirmation {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

/* Áp dụng filter cho nền khi hiển thị thông báo */
body.show-confirmation {
  filter: brightness(10%);
}