.order-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}
.image-collection {
  display: flex;  /* Sáº¯p xáº¿p ná»™i dung trong tháº» 'box' theo chiá»u ngang */
  align-items: center; /* CÄƒn giá»¯a cĂ¡c tháº» con theo chiá»u dá»c */
  border: 1px solid #ccc; /* ThĂªm viá»n */
  border-radius: 5px;
  padding: 15px;
  }
  
  .order-box{
    width: 90rem;
    justify-content: space-evenly;
}

  
  /* Individual box styling */
  /* .image-collection {
    border-radius: 10px;
    box-sizing: border-box;
    height: max-content;
  } */
  
  /* Styling for the image container within each box */
  /* .image-collection .image-container {
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
  } */
  
  /* Styling for the images within the image container */
 .order-overlay img {
    display: block;
    width: 350px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
  }
  
  /* Styling for the overlay on hover */
/* .overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transition: background-color 0.3s ease; /* Smooth transition for the overlay */
  /* } */ */
  
  /* Styling for details section within each box */
.image-collection .details {
    margin-top: 20px;
  }
  
  
  /* Zoom effect for the image on hover */
  /* .image-collection .box:hover img {
    transform: scale(1.05);
  } */
.order-details{
  display: flex;  /* Sáº¯p xáº¿p ná»™i dung trong tháº» 'box' theo chiá»u ngang */
  align-items: center;
}  
  
.details .authors {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .image-collection .overlay img.processing-false {
    filter: brightness(10%);
  }
.order-row{
  padding: 30px;
  width: max-content;
}
.order-authors {
  margin-left: 37px;
  margin-right: 133px;
  width: 165px;
  font-size: 25px;
  color: black;
}
 .order-totals {
  margin-left: 80px;
  margin-right: 125px;
  width: max-content;
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
  color: black;
}


.order-titles{
  margin-left: 33px;
  margin-right: 80px;
  width: 360px;
  font-size: 25px;
  color: black;
  text-align: left;

}
.order-authors-mau, .order-titles-mau, .order-totals-mau{
  margin-left: 80px;
  margin-right: 80px;
  width: max-content;
}
.order-action-mau{
  margin-left: 30px;
  /* margin-right: 55px; */
}
.order-atwork-mau{
  margin-left: 81px;
  margin-right: 55px;
  width: max-content;
}
.order-titles-mau{
  margin-left: 140px;
  margin-right: 90px;
  width: max-content;
}
.atwork-order-mau1{
  font-size: 20px;
  gap: 110px;
  display:flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}
.order-confirm-button {
  display: inline-block;
    text-decoration: none;
    font-size: x-large;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 12px 20px;
    border-radius: 15px;
    margin-left: 440px;
    margin-top: 40px;
    width: 500px;
}
.order-confirm-button:hover{
  background-color: rgb(117, 117, 117);
  color: rgb(0, 0, 0);
}